<h1>Rehan</h1>
<div [class.class1]="true">p0</div>
<div [class]="'class1 class2'">p1</div>
<div [ngClass]="'class1 class2'">p2</div>
<div [ngClass]="{class1: true, class2: true, class3: true}">p3</div>

<div [class.box]="styleOn">
  <h1 [style.color]="'#00ff00'">My Box</h1>
  <h1 [style]="'color: yellow'">My Box</h1>
  <h1 [ngStyle]="{color: '#00ff00'}">My Box</h1>
  <h1 [ngStyle]="{color: false ? '#00ff00': ''}">My Box</h1>
</div>